body {
  background-color: #020520;
}

.telegram-btn {
      display: inline-flex;
      align-items: center;
      padding: 12px 25px;
      background-color: #0088cc;
      color: white;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
    
    .telegram-btn img {
      width: 20px; /* Adjust the size of the logo */
      margin-right: 8px; /* Space between logo and text */
    }

    .telegram-btn:hover {
      background-color: #007bb5;
    }

    .telegram-btn:active {
      background-color: #005f8b;
    }
  
